a{
    transition:  all .2s linear;
}
button{
    transition:  all .2s linear;
}
.linkM{
    text-decoration: none;
    color: azure;
    margin-left: 20px ;
    font-size: 17px;
    margin-top: 10px;
    padding: 0;
    transition:  all .2s linear;
}
.linkM:hover{
    color: azure;
}
.nav-center{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    transition:  all .2s linear;
}
/*---------------------------------------------------Login/Registro---------------------------------------------------*/
.btnEntrar{
    border: oldlace 2px solid;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    text-align: center;
    margin-left: 7%;
    transition:  all .2s linear;
}
.btnEntrar:hover{
    background-color: white;
    color: #00af66;
}
.btnReg{
    border: oldlace 2px solid;
    background-color: oldlace;
    border-radius: 20px;
    color: #00af66;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    text-align: center;
    margin-left: 7%;
    transition:  all .2s linear;
}
.btnReg:hover{
    background-color:#00af66 ;
    color: white ;
}
.btnSalvar{
    border: oldlace 2px solid;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    text-align: center;
    transition:  all .2s linear;
}
.btnSalvar:hover{
    background-color: white;
    color: #00af66;
}
.btnLimpar{
    border: rgb(163, 2, 2) 2px solid;
    background-color: transparent;
    border-radius: 20px;
    color: rgb(163, 2, 2);
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    text-align: center;
    transition:  all .2s linear;
}
.btnLimpar:hover{
    background-color: rgb(163, 2, 2);
    color: white;
}
/*---------------------------------------------------Pedidos A EA F---------------------------------------------------*/
.btnConfirm{
    border: #00af66 2px solid;
    background-color: #00af66;
    border-radius: 10px;
    color: white;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    text-align: center;
    margin: 5px 0 5px 0;
    transition:  all .2s linear;
}
.btnConfirm:hover{
    background-color: white;
    color: #00af66;
}
.btnRevisar{
    border: rgb(163, 2, 2) 2px solid;
    background-color: rgb(163, 2, 2);
    border-radius: 10px;
    color: white;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    text-align: center;
    margin: 5px 0 5px 0;
    transition:  all .2s linear;

}
.btnRevisar:hover{
    background-color: white;
    color: rgb(163, 2, 2);
}

.btnFinalizar{
    border: rgb(255, 217, 0) 2px solid;
    background-color: rgb(255, 217, 0);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    text-align: center;
    margin: 5px 0 5px 0;
    transition:  all .2s linear;

}
.btnFinalizar:hover{
    background-color: white;
    color: rgb(116, 98, 1);
}

.btnAvaliar{
    border: rgb(4, 0, 255) 2px solid;
    background-color: rgb(38, 0, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    text-align: center;
    margin: 5px 0 5px 0;
    transition:  all .2s linear;
}
.btnAvaliar:hover{
    background-color: white;
    color: rgb(4, 0, 255);
}

.linkT{
    margin-bottom: 10px;
    background-color: #00af66;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    transition:  all .1s linear;
    color: azure;
    border-bottom:  2px solid #222;
    text-decoration: none;
    
    }
    .linkT:hover{
        background-color: #e9e9e9;
        color: #00af66;
    }

.btnFiltrar{
    border: rgb(70, 130, 240) 2px solid;
    background-color: rgb(70, 130, 240);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    text-align: center;
    margin: 5px 0 5px 0;
    transition:  all .2s linear;
}

.btnFiltrar:hover{
    background-color: white;
    color: rgb(70, 130, 240);
}

.btnRemoverFiltro{
    border: rgb(231, 117, 117) 2px solid;
    background-color: rgb(231, 117, 117);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    text-align: center;
    margin: 5px 0 5px 0;
    transition:  all .2s linear;
}

.btnRemoverFiltro:hover{
    background-color: white;
    color: rgb(231, 117, 117);
}
.esqueci{
    
    color: rgb(20, 248, 248);
}
.esqueci:hover{
    color: azure;
}