<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecPix</title>
    <link rel="stylesheet" href="../css/Tabelas.css">
    <link rel="stylesheet" href="../css/Forms.css">
    <link rel="stylesheet" href="../css/Menus.css">
    <link rel="stylesheet" href="../css/avaliacao.css">
    <link rel="stylesheet" href="../css/Botoes.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a785a1723d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="corpo">
    <nav class="NavBar">
        <h2 style="font-size: 22px"  id="nav" class="navbar-brand"> <img src="../img/LogoP.png" height="50px"> Relatar Bug</h2>
        <a id="navLink" class="nav-link" href="../" type="submit"><i class="fas fa-arrow-left"></i> Voltar</a>
</nav>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScqKQ1TFD7iOiIJPPwusl5Mdy_HOx7rzsVYk57um2_iWeh-9w/viewform?embedded=true" width="100%" height="671" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>





</body>
</html>